/*
 Filename: page1.css
 Written by: Jullien McLean (JLJM)
 Purpose: The css to style page1.html
 Date: 22 February, 2020
 Modification History: 22 February, 2020
 Original Build
*/

body {
	background-color: black;
}

#main {
	background-color: gray;
	height: 768px;
	width: 1024px;
	position: absolute;
	left: 50%;
	margin-left: -512px;
	margin-right: -384px;
}

#redBlock {
	width: 200px;
	height: 200px;
	background-color: red;
	left: 413px;
	top: 95px;
	position: absolute;
}

#blueBlock {
	width: 100px;
	height: 100px;
	background-color: blue;
	left: 0px;
	top: 0px;
	position: absolute;
}

#yellowBlock {
	width: 150px;
	height: 150px;
	background-color: yellow;
	right: 0px;
	top: 0px;
	position: absolute;
}